v1.10.x/08_web_services/01_exposing_a_web_service/myWsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="jolie.test.wsdl" xmlns:xsd1="jolie.test.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="jolie.test.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="jolie.test.xsd" xmlns:sch="jolie.test.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:complexType name="Name"><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="surname" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="getAddress"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="person" type="sch:Name"/></xs:sequence></xs:complexType></xs:element><xs:complexType name="Address"><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="country" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="number" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="city" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="street" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="zip_code" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="getAddressResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="address" type="sch:Address"/></xs:sequence></xs:complexType></xs:element><xs:element name="FaultType"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="person" type="sch:Name"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="FaultType">
    <wsdl:part name="body" element="xsd1:FaultType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAddressResponse">
    <wsdl:part name="body" element="xsd1:getAddressResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAddressRequest">
    <wsdl:part name="body" element="xsd1:getAddress">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MyServiceSOAPPort">
    <wsdl:operation name="getAddress">
      <wsdl:input message="tns:GetAddressRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAddressResponse">
    </wsdl:output>
      <wsdl:fault name="NameDoesNotExist" message="tns:FaultType">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyServiceSOAPPortSOAPBinding" type="tns:MyServiceSOAPPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAddress">
      <soap:operation soapAction="getAddress" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NameDoesNotExist">
        <soap:fault name="NameDoesNotExist" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyServiceSOAPPortService">
    <wsdl:port name="MyServiceSOAPPortServicePort" binding="tns:MyServiceSOAPPortSOAPBinding">
      <soap:address location="http://localhost:8001"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
