04_architectural_composition/06_aggregation/07_protocol_transformation/fax.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="jolie.sample.wsdl" xmlns:xsd1="jolie.sample.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="jolie.sample.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="jolie.sample.xsd" xmlns:sch="jolie.sample.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="fax"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="destination" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="faxResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="FaxRequest">
    <wsdl:part name="body" element="xsd1:fax"/>
  </wsdl:message>
  <wsdl:message name="FaxResponse">
    <wsdl:part name="body" element="xsd1:faxResponse"/>
  </wsdl:message>
  <wsdl:portType name="FaxInput">
    <wsdl:operation name="fax">
      <wsdl:input message="tns:FaxRequest"/>
      <wsdl:output message="tns:FaxResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FaxInputSOAPBinding" type="tns:FaxInput">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="fax">
      <soap:operation soapAction="fax" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FaxInputService">
    <wsdl:port name="FaxInputServicePort" binding="tns:FaxInputSOAPBinding">
      <soap:address location="http://localhost:9001"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
